<div class="container">
    <div class="row">

        <!--<div class="col-md-3 col-sm-3">
            <i class="fa fa-magnet"></i>
        </div>-->

        <div class="col-md-4 col-sm-4">
            <p>Rimini, (RN) 47924 Italia<br><a href="mailto:quacquarelli.filippo@gmail.com">quacquarelli.filippo@gmail.com</a></p>
        </div>

        <div class="col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-3">
            <p></p>
        </div>

        <div class="clearfix col-md-12 col-sm-12">
            <hr>
        </div>

        <div class="col-md-6 col-sm-6">
            <div class="footer-copyright">
                    <p>© Filippo Quacquarelli | All Rights Reserved.</p>
            </div>
        </div>

        <div class="col-md-6 col-sm-6">
            <ul class="social-icon">
                <li><a href="https://it.linkedin.com/in/filippoq/" target="_blank" class="fa fa-linkedin"></a></li>
                <li><a href="https://github.com/filippo-quacquarelli" target="_blank" class="fa fa-github-alt"></a></li>
            </ul>
        </div>
        
    </div>
</div>