
<section id="portfolio">
<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <a href="https://github.com/filippo-quacquarelli/wp-sentry-client" target="_blank">
                <div class="portfolio-thumb">
                    <img src="images/portfolio-img4.jpg" class="img-responsive" alt="">
                        <div class="portfolio-overlay">
                            <div class="portfolio-item">
                                    <h3>WordPress Sentry Client</h3>
                                    <small>Plugin Development</small>
                            </div>
                        </div>
                </div>
            </a>
        </div>

        <div class="col-md-4 col-sm-6">
            <a href="http://www.fedorabikehotel.com/" target="_blank">
                <div class="portfolio-thumb">
                    <img src="images/portfolio-img1.jpg" class="img-responsive" alt="">
                        <div class="portfolio-overlay">
                            <div class="portfolio-item">
                                    <h3>Fedora Bike Hotel</h3>
                                    <small>Web Development</small>
                            </div>
                        </div>
                </div>
            </a>
        </div>

        <div class="col-md-4 col-sm-6">
            <a href="http://shop.caminhotel.com/" target="_blank">
                    <div class="portfolio-thumb">
                        <img src="images/portfolio-img2.jpg" class="img-responsive" alt="">
                            <div class="portfolio-overlay">
                                <div class="portfolio-item">
                                        <h3>Shop Camin Hotel</h3>
                                        <small>E-commerce responsive</small>
                                </div>
                            </div>
                    </div>
            </a>
        </div>

        <div class="col-md-4 col-sm-6">
            <a href="http://www.magnanibruno.com/categoria-prodotto/liquori-it-it/" target="_blank">
                    <div class="portfolio-thumb">
                        <img src="images/portfolio-img3.jpg" class="img-responsive" alt="">
                            <div class="portfolio-overlay">
                                <div class="portfolio-item">
                                        <h3>Magnani Bruno</h3>
                                        <small>Web Development</small>
                                </div>
                            </div>
                    </div>
            </a>
        </div>

    </div>
</div>
</section>